@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", "Verdana", sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #6d3dc1;
    --main-color-dark: #371e61;
    --main-color-light: #b387ff;
    --glow-color: #8011c1a2;
}

body {
    height: 1000vh;
    background: #1c093d url("code_logo.svg") repeat;
    color: white;
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 20px;
    padding-top: 20px;
}

header {
    background-color: var(--main-color);
    box-shadow: 0 5px 30px 10px var(--main-color-dark);
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 20px;

    h4 {
        font-size: min(30px, 5vw);
    }
    z-index: 99;
}

#section-1 {
    display: flex;
    gap: 30px;
    padding: 0 20px;

    #title-box {
        background-color: #a58cd038;
        border: solid #af94dd;
        border-width: 5px;
        backdrop-filter: blur(4px) brightness(2);
        padding: 20px;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            white-space: nowrap;
            font-size: min(5vw, 5.5rem);
            line-height: 1;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

#language-grid {
    height: 400px;
    padding: 20px;
    aspect-ratio: 1 / 1;  /* Keep the grid square (ratio 1:1) */
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;  /* 3×3 grid */
    gap: 5px;

    .language-grid-item {  /* Grid item */
        border-radius: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        filter: brightness(0.5);
    }

    /* Language grid items */
    #python-grid-item {
        background-color: #5f9fff;
    }

    #js-grid-item {
        background-color: #ffbb0f;

        p {
            color: black;
        }
    }

    #c-grid-item {
        background-color: #1d55a9;
    }

    #cpp-grid-item {
        background-color: #093d89;
    }

    #rust-grid-item {
        background-color: #944b02;
    }

    #java-grid-item {
        background-color: #dddddd;

        p {
            color: black;
        }
    }

    #cs-grid-item {
        background-color: #6d3dc1;
    }

    #ts-grid-item {
        background-color: #0444a5;
    }

    #bash-grid-item {
        background-color: #202020;
    }
}

.heading {
    background-color: var(--main-color-dark);
    border: 5px solid var(--main-color);
    border-radius: 50px;
    height: 150px;
    margin: 0 20px;
    font-weight: bold;
    font-size: clamp(25px, 4vw, 70px);
    white-space: nowrap;
    display: grid;
    place-content: center;
}

.glow {
    position: relative;
    box-shadow: 0 0 10px 10px var(--glow-color);
}

.language-section {
    height: 400px;
    display: flex;

    .language-desc {
        overflow: hidden;
        position: relative;
        width: 60%;
        background-color: white;
        color: black;

        h1 {
            position: absolute;
            top: 0px;
            padding: 20px;
            font-size: 4rem;
        }

        p {
            position: absolute;
            top: 100px;
            padding: 20px;
            font-size: 1rem;
        }
    }

    code {
        white-space: nowrap;
        overflow: scroll;
        scrollbar-width: none;
        font-family: "DM Mono", "Courier New", monospace;
        font-size: 0.9rem;
        width: 40%;
        padding: 20px;
        background-color: #1d1d1d;
    }
}

#table {
    tbody {
        position: relative;
        background-color: #cebbee;
        border-radius: 2vw;
        padding: 30px 20px;
        margin: 0 auto;
        width: 90%;
    }

    td {
        padding-top: 10%;
        background-color: var(--main-color);
        filter: brightness(1);
        opacity: 0.8;
        border-radius: 1vw 1vw 0 0;
        box-shadow: 5px -5px 20px 0 var(--main-color-dark);
        font-size: min(1.5vw, 15px);
    }

    tr:nth-child(even) > td {
        background-color: #9770db;
    }

    tr > th {
        color: var(--main-color-dark);
        font-size: min(1.5vw, 15px);
    }

    caption {
        transform: translateY(100%);
        z-index: 1;
        color: var(--main-color-dark);
        font-size: min(3vw, 70px);
        font-weight: bold;
    }
}

@media (max-width: 750px) {
    body #language-grid {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 950px) {
    #section-1 {
        display: flex;
        flex-direction: column;
        height: 500px;
        padding: 0 20px;

        #title-box {
            flex-shrink: 1;
        }
    }

    #language-grid {
        display: flex;
        align-items: stretch;
        min-height: 0;
        padding: 0px;
        gap: 5px;
        .language-grid-item {
            border-radius: 2vw;
            flex: 1 1 0;
        }
    }
}